<header class="header-bg-home js-header header-home">
  <div class="container">
    <nav class="navi js-navi">
      <a class="page-link" href="./index.html">
        <span class="logo__text">AndreaART</span>
      </a>
      <ul class="navi__list">
        <li class="navi__item">
          <a class="navi__link js-home_page current" href="./index.html">INISIO</a>
        </li>
        <li class="navi__item">
          <a class="navi__link js-lib_page" href="./policy.html">POLÍTICA DE PRIVACIDAD</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
